<!DOCTYPE html>
    <body>
        <h1 id="text"></h1>    
        <script>
            const url = '/short';
            const text = document.getElementById('text');

            const http = new XMLHttpRequest();
            http.onreadystatechange = () => {
                if (http.readyState == 4 && http.status == 200) {
                    text.innerText = http.responseText;
                };
            };
            
            function get_data(){
                http.open('POST', url, true);
                http.send();
            }
            
            get_data();
            
        </script>
    </body>
</html>